/* Universal */
body {
  color: hsl(0, 0%, 100%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

/* BG */
header  {
  background-color: hsl(217, 28%, 15%);
}


main {
  background-color: hsl(218, 28%, 13%);
}

.main-hero-wrapper {
  background: linear-gradient(180deg, hsl(217, 28%, 15%) 60%, hsl(218, 28%, 13%) 40%);
}

.main-hero {
  background-image: url('../images/bg-curvy-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* Images */
#logo {
  width: 100px;
  height: auto;
}

#hero-image {
  width: 85%;
  height: auto;
  margin: 0 auto;
}

#features-access-img {
  width: 83px;
  height: 78px;
}

#features-security-img {
  width: 70px;
  height: 88px;
}

#features-collaboration-img {
  width: 86px;
  height: 71px;
}

#features-file-storage-img {
  width: 91px;
  height: 64px;
}

#left-quote-img {
  width: 1.5rem;
  height: auto;
  display: block;
  margin-left: .25rem;
}

.testimonial-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-how-it-works > img {
  width: 85%;
  height: auto;
  margin: 0 auto 2rem auto;
}

#footer-logo-img {
  width: 60%;
  height: auto;
}

#location-icon-img {
  width: 13px;
  height: 18px;
}

#phone-icon-img {
  width: 18px;
  height: 18px;
}

#email-icon-img {
  width: 18px;
  height: 16px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
}

.header-nav-list {
  display: flex;
}

.header-nav-list > li {
  margin-left: 1rem;
}

.header-nav-list > li > a:hover {
  text-decoration: underline;
}

/* Main */
main {  
  text-align: center;
  position: relative;
  padding-bottom: 10rem;
}

/* Main .main-hero */
.main-hero {
  padding: 3rem 0;
}

.main-hero > h2 {
  font-size: 1.5rem;
  padding: 1.5rem;
}

.main-hero > div {
  padding: 0 2.5rem;
}

.main-hero > a {
  display: block;
  margin: 1.5rem auto;
  padding: 1rem;
  width: 65%;
  font-weight: 700;
  background: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
  border-radius: 500px;
}

.main-hero > a:hover {
  background: hsl(198, 55%, 73%);
}

/* Main .main-features */
.main-features {
  margin: 4rem auto;
}

.main-features > li {
  margin: 4rem 0;
}

.main-features > li > img {
  margin-bottom: 2rem;
}

.main-features > li > h3 {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.main-features > li > div {
  padding: 0 2rem;
}

/* Main .main-how-it-works */
.main-how-it-works {
  margin: 4rem 0;
  padding: 1rem;
  text-align: start;
}

.main-how-it-works > h3 {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.main-how-it-works > div {
  margin-bottom: 1rem;
}

.main-how-it-works > span {
  display: inline-flex;
  align-items: center;
  color: hsl(176, 68%, 64%);
  position: relative;
  padding-bottom: .5rem;
}

.main-how-it-works > span > a {
  margin-right: .5rem;
}

.main-how-it-works > span:hover {
  color: hsl(0, 0%, 100%);
}

.main-how-it-works > span:hover::after {
  border-color: hsl(0, 0%, 100%);
}

.main-how-it-works > span:hover > svg > g > g > use:last-child {
  fill: hsl(0, 0%, 100%);
}

.main-how-it-works > span::after {
  content: '';
  width: calc(100% - 2px);
  border: 1px solid hsl(176, 68%, 64%);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Main .main-testimonials-container */
.main-testimonials-container {
  text-align: start;
  padding: 3rem;
}

.main-testimonials > li {
  background-color: hsl(219, 30%, 18%);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  font-size: 12px;
}

.main-testimonials > li > div:first-child {
  margin-bottom: 1rem;
}

.main-testimonials > li > div:last-child {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  height: 40px;
}

.main-testimonials > li > div:last-child > img {
  display: block;
  width: 40px;
  height: 100%;
}

.main-testimonials > li > div:last-child > div:first-child {
  font-weight: 700;
}

.main-testimonials > li > div:last-child > div {
  width: calc(100% - 60px);
  height: 50%;
}

/* Main .main-early-access */
.main-early-access {
  width: 90%;
  padding: 2rem 1rem;
  position: absolute;
  left: 5%;
  bottom: calc(0px - 168.75px);
  background-color: hsl(217, 28%, 15%);
  border-radius: 12px;
}

.main-early-access > h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.main-early-access > div {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

#sign-up-container {
  position: relative;
}

.main-early-access > input {
  display: block;
  width: 70%;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 500px;
}

.main-early-access > a {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 500px;
  background: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
}

#email-error-message {
  width: 100%;
  color: red;
  font-size: 14px;
  display: none;
  margin: .25rem 0;
}

.main-early-access > input:invalid {
  margin-bottom: 0;
}

.main-early-access > input:invalid + #email-error-message {
  display: block;
}

.main-early-access > a:hover {
  background: hsl(198, 55%, 73%);
}

/* Footer */
footer {
  padding: 15rem 2rem 4rem 2rem;
  background-color: hsl(216, 53%, 9%);
  font-size: 1rem;
}

footer > h2 {
  margin-bottom: 3rem;
}

.footer-contact-info-list > li {
  display: flex;
  margin-bottom: 1.5rem;
}

.footer-contact-info-list > li > img {
  margin-right: 1.5rem;
}

.footer-contact-info-list > li > div {
  margin-top: -.25rem;
}

.footer-links-list {
  margin: 4rem 0;
}

.footer-links-list > li {
  margin-bottom: 1rem;
}

.footer-links-list > li:nth-child(4) {
  margin-bottom: 4rem;
}

.footer-links-list > li > a:hover {
  font-weight: 700;
}

.footer-social-media-links-list {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

.footer-social-media-links-list > li {
  cursor: pointer;
}

.footer-social-media-links-list > li > svg {
  width: 14px;
  height: 14px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  padding: .5rem;
}

.footer-social-media-links-list > li:hover > svg {
  border-color: hsl(176, 68%, 64%);
}

.footer-social-media-links-list > li:hover > svg > path {
  fill:hsl(176, 68%, 64%);
}